@mixin flex($direction, $property1, $property2) {
    display: flex;
    flex-direction: $direction;
    justify-content: $property1;
    align-items: $property2;
}

@mixin sm{
    @media screen and (max-width:600px) {
        @content;
    }
}

@mixin md{
    @media screen and (max-width:1200px) and (min-width:600px){
        @content;
    }
}